<nav class="navbar navbar-light bg-light">
  <div class="navbar-logo">
    <a href="/"><h1 class="pl-3">北浪衝浪俱樂部</h1></a>
  </div>
  <div class="navbar-links">
    <div class="">
      <a href="">教練陣容 </a>
      <a href="">| 阿森衝浪品牌 |</a>
      <a href=""> 關於北浪</a>
    </div>
    <div class="text-right">
      <a href="">EN</a>
      <a href="">JP</a>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 jumbotron-name">北浪衝浪俱樂部</h1>
    <p class="lead jumbotron-info">北浪位於山東青島市</p>
  </div>
</div>

<div class="container">
  <div class="row classes">
    <div class="col-auto col-md-4">
      <div class="card class" style="width: 18rem; height: 12rem">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3>體驗課程</h3>
          <p class="card-text">體驗課程為一對二~一對四的課程</p>
        </div>
      </div>
    </div>
    <div class="col-auto col-md-4">
      <div class="card class" style="width: 18rem; height: 12rem">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3>標準入門課程(三堂)</h3>
          <p class="card-text">標準入門課程為一對二~一對四的多堂課程，包含效率划水、自主抓浪起乘以及小角度轉向</p>
        </div>
      </div>
    </div>
    <div class="col-auto col-md-4">
      <div class="card class" style="width: 18rem; height: 12rem">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3>私教一對一課程(三堂、六堂)</h3>
          <p class="card-text">私教一對一課程包含效率划水、自主抓浪起乘以及小角度轉向</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row location">
    <div class="col-auto col-md-6">
      <h2>俱樂部位置</h2>
      <img src="" alt="">串接google-map API
      <p>青島市嶗山區香港東路101巷蔚藍小區世紀大廈101室</p>
    </div>
    <div class="col-auto col-md-6">
      <h2>聯繫我們</h2>
      <i class="fab fa-lg fa-instagram"></i>
      <i class="fab fa-lg fa-facebook-square"></i>
      <i class="fab fa-lg fa-weixin"></i>
      <i class="far fa-lg fa-envelope"></i>
      <h2>服務時間</h2>
      <p>周一~周日 8:00-18:00</p>
    </div>
  </div>
</div>
  
</div>